div#tlogins .hand.nosel.fl.uzr.border{width:99%!important;margin-top:5px!important;border-radius:3px!important;border:1px solid #e4e4e4}
div#tlogins{border-color:#c5c5c5;outline:0;box-shadow:inset 0 2px 2px rgb(0 0 0 / 5%),0 0 8px #484747;border:1px solid#c5c5c5;background:#f5f5f5}
body{background:linear-gradient(163deg,#fff 0%,#c5c5c5 100%)}
.lonline.light.break{outline:#e8e6e6 solid 1px!important;background-color:#ffffff!important;background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important}
div#l2 button.btn.btn-primary,div#l1 button.btn.btn-primary,div#l3 button.btn.btn-primary{border-radius:0!important;width:55px;position:inherit;height:20px;margin-bottom:7px;padding:0 0 3px;border:0 solid#ffffff!important;font-family:'fanni'}
div#l2 button.btn.btn-primary,div#l1 button.btn.btn-primary,div#l3 button.btn.btn-primary{background:linear-gradient(163deg,#eea53d 0%,#eea741 100%)}
div#l2 button.btn.btn-primary,div#l3 button.btn.btn-primary{margin-left:0!important;margin-top:10px!important}
input#u1,input#u2,input#pass1,input#u3,input#pass2{border:1px solid #eea740;border-radius:0;text-align:center;border-style:solid;border-right:20px solid;border-left:20px solid;border-color:#c5c5c5;border-left-style:double;border-right-style:double;border-top:1px dotted #000!important;border-bottom-style:dashed}
label.fl.label.loginstat{/* float:left!important;*/
border-radius:0 7px 7px 0!important;/* position:absolute;*/

/* top:173px;*/

/* left:0;*/

/* padding:3px 6px 2px 8px!important;*/

/* margin-top:45px!important;*/

/* font-family:'fanni';*/

/* font-size:14px!important;*/
margin-left:-4px!important}
.ukick{margin:0!important;width:60px!important;background-color:#fff!important;margin-top:14px!important;margin-left:-60px!important;position:absolute;top:1px}
.uban{margin:0!important;width:60px!important;background-color:#fff;margin-top:73px!important;margin-left:-61px!important;position:absolute;top:1px}
.popover.right{max-width:initial;overflow:auto;width:auto;margin-left:-109px;height:369px}
.popover.fade.top.in{position:absolute;max-width:250px!important;max-height:350px;overflow:auto}
.tbox{padding:6px;min-height:30px;border-radius:10%}
#jfa-w-net{text-decoration:dotted;color:#fff;margin-top:0!important;margin-left:7.1px!important;display:inline-block;/* overflow-x:hidden;*/
    float:right;margin-right:9px!important;/* box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 -3px 1px -2px rgba(0,0,0,0.2)!important;*/
    border-radius:5px 15px 5px 16px!important;border:#8e210b00;border-right:5px #c7daee solid;border-right-style:double;border-left:9px #d0c695 solid;border-left-style:double;/* margin-right:33px!important;*/
    background:radial-gradient(#00000057,transparent);border:medium}
ul.nav.nav-tabs a{color:#636363}
#jfa-w{/* transform:matrix(1,0,0,1,54,-143);*/
    
/* border-radius:5px 16px 5px 16px!important;*/
    width:74%!important;height:19px!important;left:-212px;font-size:14px!important;color:#241117;padding:0 0!important;background:linear-gradient(163deg,#ffffff 0%,#d1cdc6 100%)!important;/* background-image:url(https://upload.3dlat.net/uploads/3dlat.net_02_17_2f61_7f486eb1632111.png);*/
    margin-top:-2px;border-right:0 #ffffff solid;margin-left:-9px;border-left:6px #b0b0b0 solid;box-sizing:content-box;border-right:2px #5cb85c solid;border-bottom-style:outset}
